body {
    background-color: lightblue;
}
p {
    font-family: verdana;
    /*font-size: 20px;*/
}

body, body>* {
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  background: url("../img/banner.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  margin-top: 0;
}
.page-header {
    margin: 0;
    padding: 0.5em;
    border: 0;
}

nav.navbar {
  border-radius: 0;
}


#fixTable {
  width: 1800px !important;
}

thead td {
  text-align: center;
  vertical-align: top;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.25em 1em;
  background-color: #3e3e3e;
  color: white;
/*even width:
  max-width: 7.5em;
  min-width: 7.5em;
  overflow-x: hidden;*/
}
#q td:first-child {
  padding-left: 0.5em;
  padding-right: 2em;
  border-bottom: 1px solid black;
  background-color: #c4c4c4;
}

#q td {
  border: 1px solid black;
  height: 50px;
  background-color: white;
/*min-width: 1em;*/
}
#q *.no_school {
  background-color: #166312;
}


footer {
   margin-top: 1em;
}
footer>div.well {
  margin: 0 auto;
  display: table;
}
/* Farger for det forskjellige
  Elev: E
  Lærer: L
  SFO: S
  false: F

  format:
  E-L-S
*/
/* Bit counting... F-F-F might be removed*/
/* Just testing colour scheme, not final version */
.F-F-F {
  background-color: #fff8e7;
}
.F-F-S {
  background-color: #ff0010;
}
.F-L-F {
  background-color: #1eff00;
}
.F-L-S {
  background-color: #ffef00;
}
.E-F-F {
  background-color: #0700ff;
}
.E-F-S {
  background-color: #f900ff;
}
.E-L-F {
  background-color: #00fcff;
}
.E-L-S {
  background-color: #000000;
}